html
    head
        title='info'
        style
            include styles.css
    body
        h1="Informacion general"
        div
            h2=`Argumentos de entrada: ${argumentos}`
            h2=`Path de ejecucion: ${path}`
            h2=`Id del proceso: ${id}`
            h2=`Version de node: ${version}`
            h2=`Carpeta del proyecto: ${carpeta}`
            h2=`Sistema operativo: ${SO}`
            h2=`Memoria reservada: ${memoria}`
